- name: Deploy Docker container on EC2 instance
  hosts: my_ec2_instance
  become: true

  tasks:
    - name: Uninstall conflicting curl-minimal package
      yum:
        name: curl-minimal
        state: absent

    - name: Install dependencies for Docker installation
      yum:
        name:
          - curl
          - device-mapper-persistent-data
          - lvm2
        state: present

    - name: Download Docker installation script
      get_url:
        url: https://get.docker.com/
        dest: /tmp/install-docker.sh
        mode: '0755'

    - name: Run Docker installation script
      command: /tmp/install-docker.sh

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Stop all Docker containers
      command: docker stop $(docker ps -a -q)
      ignore_errors: true

    - name: Remove all Docker containers
      command: docker rm $(docker ps -a -q)
      ignore_errors: true

    - name: Pull Docker image
      docker_image:
        name: mkurmanalieva/myapp:latest
        source: pull

    - name: Run Docker container
      docker_container:
        name: mycontainer
        image: mkurmanalieva/myapp:latest
        ports:
          - "8080:8080"
        restart_policy: always
        state: started
