---
- name: Set up systemd service
  hosts: 192.168.97.129
  become: yes
  vars:
    app_port: 2222
    ansible_become_pass: meka

  tasks:
    - name: Pull Docker image
      docker_image:
        name: mkurmanalieva/myapp:latest
        source: pull

    - name: Stop and remove existing container
      docker_container:
        name: mycontainer
        image: mkurmanalieva/myapp:latest
        state: absent

    - name: Create and run the Docker container
      docker_container:
        name: mycontainer
        image: mkurmanalieva/myapp
        ports:
          - "8080:8080"
        restart_policy: always
        state: started
