
- name: Install Docker and Deploy Application on EC2 Instance
  hosts: 54.224.254.216
  become: true

  vars:
    app_port: 2222

  tasks:
    - name: Install Docker dependencies
      package:
        name:
          - yum-utils
          - device-mapper-persistent-data
          - lvm2
      become: true

    - name: Add Docker repository
      yum_repository:
        name: docker-ce-stable
        description: Docker CE Stable - $basearch
        baseurl: https://download.docker.com/linux/centos/7/$basearch/stable
        gpgcheck: yes
        gpgkey: https://download.docker.com/linux/centos/gpg
        enabled: yes
      become: true

    - name: Install Docker
      package:
        name: docker-ce
        state: present
      become: true

    - name: Start and enable Docker service
      service:
        name: docker
        state: started
        enabled: yes
      become: true

    - name: Pull Docker image
      docker_image:
        name: mkurmanalieva/myapp:latest
        source: pull

    - name: Stop and remove existing container
      docker_container:
        name: mycontainer
        image: mkurmanalieva/myapp:latest
        state: absent

    - name: Create and run the Docker container
      docker_container:
        name: mycontainer
        image: mkurmanalieva/myapp
        ports:
          - "{{ app_port }}:8080"
        restart_policy: always
        state: started

