---
- name: Deploy Docker container on EC2 instance
  hosts: my_ec2_instance
  become: true
  vars:
    ansible_python_interpreter: /usr/bin/python3.9

  tasks:
    - name: Yum repolist for Docker
      yum_repository:
        name: docker
        description: yum repository for docker
        baseurl: https://download.docker.com/linux/centos/7/x86_64/stable/
        gpgcheck: no

    - name: Package Installer For Docker
      package:
        name: docker-ce-3:18.09.1-3.el7
        state: present

    - name: Package Installer For Python3
      package:
        name: python3
        state: present

    - name: Install pip for Python3
      become: yes
      shell: curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py && python3 get-pip.py


    - name: Installing python library for the Docker Remote API
      pip:
        name: docker-py

    - name: Start service docker
      service:
        name: docker
        state: started
        enabled: true

    - name: Stop all Docker containers
      command: docker stop $(docker ps -a -q)
      ignore_errors: true

    - name: Remove all Docker containers
      command: docker rm $(docker ps -a -q)
      ignore_errors: true

    - name: Pull Docker image
      docker_image:
        name: mkurmanalieva/hello-web-app:latest
        source: pull

    - name: Run Docker container
      docker_container:
        name: mycontainer
        image: mkurmanalieva/hello-web-app:latest
        ports:
          - "8080:8080"
        volumes:
          - /home/Web:/usr/local/apache2/htdocs/
        restart_policy: always
        state: started
      register: status

    - name: Check container status
      debug:
        var: status
