---
- name: Deploy Docker container on EC2 instance
  hosts: my_ec2_instance
  become: true
  gather_facts: true

  tasks:
    - name: Stop all Docker containers
      command: docker stop $(docker ps -a -q)
      ignore_errors: true

    - name: Remove all Docker containers
      command: docker rm $(docker ps -a -q)
      ignore_errors: true

    - name: Remove conflicting curl-minimal package
      shell: yum remove -y curl-minimal

    - name: Install dependencies for Docker installation
      package:
        name:
          - curl
          - ca-certificates
          - yum-utils
          - device-mapper-persistent-data
          - lvm2
        state: present

    - name: Add Docker repository GPG key
      shell: curl -fsSL https://download.docker.com/linux/centos/gpg | gpg --import -
      changed_when: false

    - name: Add Docker repository
      yum_repository:
        name: docker-ce-stable
        description: Docker CE Stable - $basearch
        baseurl: https://download.docker.com/linux/centos/7/$basearch/stable
        gpgcheck: yes
        gpgkey: https://download.docker.com/linux/centos/gpg
        enabled: yes

    - name: Install Docker
      package:
        name: docker-ce
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started

    - name: Pull Docker image
      docker_image:
        name: mkurmanalieva/myapp:latest
        source: pull

    - name: Run Docker container
      docker_container:
        name: myconteiner
        image: mkurmanalieva/myapp:latest
        ports:
          - "8080:8080"
        state: started
