- name: Install Docker and Deploy Application on EC2 Instance
  hosts: my_ec2_instance
  become: true

  tasks:
    - name: Check if Docker is installed
      stat:
        path: /usr/bin/docker
      register: docker_installed
      become: false

    - name: Install Docker dependencies
      package:
        name:
          - yum-utils
          - device-mapper-persistent-data
          - lvm2
      become: true
      when: docker_installed.stat.exists == false

    - name: Add Docker repository
      yum_repository:
        name: docker-ce-stable
        description: Docker CE Stable - $basearch
        baseurl: https://download.docker.com/linux/centos/7/$basearch/stable
        gpgcheck: yes
        gpgkey: https://download.docker.com/linux/centos/gpg
        enabled: yes
      become: true
      when: docker_installed.stat.exists == false

    - name: Install Docker
      package:
        name: docker-ce
        state: present
      become: true
      when: docker_installed.stat.exists == false

    - name: Start and enable Docker service
      service:
        name: docker
        state: started
        enabled: yes
      become: true

    - name: Pull Docker image
      docker_image:
        name: my-go-app
        source: pull

    - name: Stop and Remove All Docker Containers
      command: docker container prune --force
      changed_when: false
      ignore_errors: true

    - name: Run Docker container
      command: docker run -d -p 8080:8080 my-go-app
