name: Docker Build and Push

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Stop all Docker containers
        run: |
          # Use `docker ps -q` to get a list of running container IDs and stop them
          CONTAINER_IDS=$(docker ps -q)
          if [ -n "$CONTAINER_IDS" ]; then
            docker stop $CONTAINER_IDS
          fi

      - name: Remove all stopped Docker containers
        run: |
          # Use `docker ps -a -q` to get a list of all container IDs (including stopped ones) and remove them
          CONTAINER_IDS=$(docker ps -a -q)
          if [ -n "$CONTAINER_IDS" ]; then
            docker rm $CONTAINER_IDS
          fi

      - name: Pull Docker image from Docker Hub
        run: docker pull ${{ secrets.DOCKER_USERNAME }}/hello-web-app:latest

      - name: Run Docker container from Docker Hub
        run: docker run -d -p 8080:8080 ${{ secrets.DOCKER_USERNAME }}/hello-web-app:latest
